@media screen and (min-width: 1200px) {
    body {
        font-family: 'Open Sans', sans-serif !important;
        background-image: url(../img/bg-me.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
}
@media screen and (max-width: 1199px) {
    #intro {
        background-image: url(../img/bg-me-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
    }
}

.bg-light-orange{
    background-color: #ff4d21;
    color: #000000;
}

.bg-dark-orange{
    background-color: #ff0000;
    color: #ffffff;
}