p {
    font-family: 'Open Sans', sans-serif;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    color: #FA4851 !important;
    transition: 0.3s;
}

::selection {
    color: #ffffff;
    background-color: #FA4851;
}

@media (min-width: 992px) {
    #stain {
        background-image: url(img/stain.svg);
        background-repeat: no-repeat;
        background-position: -24vw;
        background-size: 50vw;
    }
}

#intro {
    font-size: 7vh;
    margin-top: 20%;
}

#intro>img {
    width: 12vh;
    margin-top: -4vh;
    border-radius: 100%;
}

#intro-mobile, #look-work-mobile, #arrow-mobile {
    display: none;
}

#main-red-col {
    height: 80vh;
}

#circle-me {
    width: 90%;
    display: table;
    margin: 0 auto;
    border-radius: 100%;
}

#circle-social{
    display: table;
    margin: 0 auto;
    margin-top: 2vw;
}

#circle-social>a>img{
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
}

#mail-social, #cv {
    display: table;
    margin: 0 auto;
    margin-top: 1vw;
}

#mail-social>img, #cv>img  {
    width: 2vw;
}

#mail-social>a:link, #mail-social>a:visited, #mail-social>a:active, #cv>a:link, #cv>a:visited, #cv>a:active{
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
}

#mail-social>a:hover, #cv>a:hover {
    color: #ffffff !important;
}

#cv{
    text-decoration: underline solid #ffffff;
}

#look-work {
    display: table;
    margin: 0 auto;
    font-size: 4vh;
}

#look-work>img {
    height: 5vh;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 10px;
    }
}

.nav-link {
    font-size: 4vh;
    float: left
}

.dot {
    color: #FA4851;
    float: left;
}

.col-red {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FA4851;
}

@media (max-width: 991px) {
    .hide-mobile {
        display: none;
    }
}

@media (max-width: 576px) {
    #main-red-col {
        height: 90vh;
    }
    #circle-me {
        padding-top: 2vw;
        width: 65%;
    }
    #circle-social {
        margin-top: 2vw;
    }
    #circle-social>a>img {
        width: 10vw;
        height: 10vw;
        margin: 0.5vw;
    }
    #mail-social, #cv {
        margin-top: 2vw;
    }
    #mail-social>img, #cv>img   {
        width: 8vw;
    }
    #mail-social>a:link, #mail-social>a:visited, #mail-social>a:active, #cv>a:link, #cv>a:visited, #cv>a:active {
        font-size: 5vw;
    }
    #intro-mobile {
        display: block;
        font-size: 6vw;
        padding: 13vw 3vw 3vw 0;
        text-align: center;
    }
    #intro-mobile>img {
        width: 10vw;
        border-radius: 100%;
    }
    #look-work-mobile {
        display: block;
        font-size: 5vw;
        text-align: center;
        color: white
    }
    #arrow-mobile {
        display: block;
        font-size: 6vw;
        text-align: center;
        color: white
    }
    .col-red {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}


/* University Work */

.full-page{
    width: 100vw;
    height: 100vh;
}

.col-red-round {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FA4851;
    border-radius: 0% 0% 60% 60%;
}

.card{
    border-color: #ffffff !important;
}
.card-title{
    color: #FA4851;
}
.btn-light{
    background-color: #FA4851 !important;
    border: none !important;
}
.btn-light:hover{
    color:white !important;
}