p {
    font-family: 'Open Sans', sans-serif;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    color: #FA4851 !important;
    transition: 0.3s;
}

::selection {
    color: #ffffff;
    background-color: #FA4851;
}

@media (min-width: 992px) {
    #stain {
        background-image: url(img/stain.svg);
        background-repeat: no-repeat;
        background-position: -24vw;
        background-size: 50vw;
    }
}

#intro {
    font-size: 7vh;
    margin-top: 20%;
}

#intro>img {
    width: 12vh;
    margin-top: -4vh;
    border-radius: 100%;
}

#circle-me {
    width: 20vw;
    height: 20vw;
    display: table;
    margin: 0 auto;
    background-image: url(img/me.jpg);
    background-size: contain;
    border-radius: 100%;
}

#circle-social {
    display: table;
    margin: 0 auto;
    margin-top: 2vw;
}

#circle-social>a>img {
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
}

#mail-social {
    display: table;
    margin: 0 auto;
    margin-top: 1vw;
}

#mail-social>img {
    width: 2vw;
}

#mail-social>a:link, #mail-social>a:visited, #mail-social>a:active {
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
}

#mail-social>a:hover {
    color: #ffffff !important;
}

#look-work {
    display: table;
    margin: 0 auto;
    font-size: 4vh;
}

#look-work>img {
    height: 5vh;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 10px;
    }
}

.nav-link {
    font-size: 4vh;
    float: left
}

.dot {
    color: #FA4851;
    float: left;
}

.col-red {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FA4851;
}

@media (max-width: 991px) {
    .hide-mobile {
        display: none;
    }
}

@media (max-width: 576px) {

    #circle-me {
        width: 50vw;
        height: 50vw;
    }
    #circle-social {
        display: table;
        margin: 0 auto;
        margin-top: 2vw;
    }
    #circle-social>a>img {
        width: 10vw;
        height: 10vw;
        margin: 0.5vw;
    }
    #mail-social {
        display: table;
        margin: 0 auto;
        margin-top: 1vw;
    }
    #mail-social>img {
        width: 8vw;
    }
    #mail-social>a:link, #mail-social>a:visited, #mail-social>a:active {
        color: #ffffff;
        text-decoration: none;
        font-size: 5vw;
    }
}