p {
    font-family: 'Open Sans', sans-serif;
}

a:link, a:visited, a:active {
    color: #000000;
}

a:hover{
    color: #FA4851 !important;
    transition: 0.3s;
}

#intro {
    font-size: 8vh;
    margin-top: 20vh;
}

.nav-link {
    font-size: 4vh;
    float: left
}

.dot {
    color: #FA4851;
    float: left;
}

.col-red {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FA4851;
}